* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
}
header,
.plus {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  color: white;
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.text {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: none;
  background-color: burlywood;
}
.plus i {
  cursor: pointer;
}
section {
  margin-top: 80px;
  margin-bottom: 100px;
  padding: 10px 20px;
}
.list {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 20px;
}
